@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap%27');

body {
    text-align: center;
    background-color: #272727;
    font-family: 'Saira Stencil One', cursive;
    font-size: 180%;
}
.button{
    margin: auto;
    color: #3e3d42;
    width: 12em;
    cursor: pointer;
    background-color: #5dc4e9;
    font-family: 'Saira Stencil One', cursive;
    font-size: 100%;
    border-color: #00000000;
    border-radius: 1em;
    font-weight: bold;
    font-style: uppercase;
    align-items: center;
}
.button:hover {
    background-color: #ebc247;
    color: #525157;
    font-size: 110%;
    transition-property: font-size, background-color;
    transition-duration: 0.5s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.input {
    width: 12em;
    border-radius: 1em;
    border-color: #00000000;
    font-family: 'Saira Stencil One', cursive;
    background-color: #caad76;
    text-align: center;
}
.ynov {
    position:absolute;
    left:0px;
    top:0px   
}
h1 {
    font-size: 230%;
    color: rgb(172, 172, 172);
    font-family: 'Saira Stencil One', cursive;
    height: 5vh;
}
h2 {
    font-size: 130%;
    color: rgb(172, 172, 172);
    font-family: 'Saira Stencil One', cursive;
    height: 5vh;
}
h3 {
    font-size: 100%;
    color: red;
    font-family: 'Saira Stencil One', cursive;
}
.level {
    width: 12em;
    height: auto;
    display: inline-block;
    cursor: default;
    position: relative;
}
.level:hover .label {
    opacity: 0;
}
.level:hover .icon {
    border-radius: 1em;
    margin: 0 0;
}
.label {
    background-color: #5dc4e9;
    color: #3e3d42;
    position: absolute;
    top: 0;
    border-radius: 1em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.8s ease-out;
    font-family: 'Saira Stencil One', cursive;
}
.icon {
    font-family: 'Saira Stencil One', cursive;
    background-color: #5dc4e9;
    font-size: 100%;
    cursor: pointer;
    color: #3e3d42;
    border-radius: 1em;
    transition: background-color 0.5s ease-out, border-radius 0.5s 0.25s ease-out, margin 0.5s 0.25s ease-out;
    border-color: #00000000;
}
.icon:hover {
    background-color: #ebc247;
    color: #525157;
    font-size: 110%;
    transition-property: font-size, background-color;
    transition-duration: 0.5s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}/*# sourceMappingURL=normalize.min.css.map */

#Word {
    letter-spacing: 0.3cm;
    font-size: 300%;
    width: auto;
}
#input {
    width: 20em;
    border-radius: 1em;
    background-color: #caad76;
    border-color: #00000000;
}
.lose {
    background-color: #B22222;
}
.win {
    background-color: #6B8E23;
}
#loser {
    width: 5cm;
    height: auto;
}
#applause {
    width: 5cm;
    height: auto;
}
#hid{
    display:none;
    background-color: #000;
    position:fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 33%;
}
#content{
    position:fixed;
    height: 100%;
    width: 100%;
}
#toggle{
    padding: 0;
    height: 6vh;
    width: 6vh;
    margin: 0;
    cursor: pointer;
    background-color: #5a595c;
    position:absolute;
    top: 2%;
    right:1%;
}
#pendu{
    width: 95%;
    height: 95%;
}

p {
    color: coral;
}

